* {
  margin: 0;
  padding: 0; }

html {
  color: #051e3a;
  font-family: 'Ariata Text W05 Medium', Georgia, serif;
  scroll-behavior: smooth; }

.lightBlue {
  background: #ebf0ff; }

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem; }

.h1Title {
  font-family: 'Applied Sans W05 Regular', Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: rgba(5, 30, 58, 0.8);
  margin: 0 auto 12rem;
  text-align: center;
  max-width: 60%; }

.icon {
  padding-top: 11rem;
  color: #feb15e;
  margin: 0 auto 1rem;
  width: 100%;
  font-size: 2.1rem;
  text-align: center; }

h2 {
  font-size: 1.8rem; }
  h2::after {
    content: "";
    display: block;
    width: 100%;
    margin: 2px 0 2rem;
    border-bottom: solid 3.5px #d6e2ff; }

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.25rem; }

p {
  font-family: 'Applied Sans W05 Regular', Helvetica, sans-serif;
  font-size: 1.05rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  color: rgba(5, 30, 58, 0.8); }

#intro {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  #intro #scales {
    font-size: 4rem;
    color: #feb15e;
    margin-bottom: 3rem; }
  #intro h1 {
    font-size: 3.2rem;
    color: #051e4f; }
  #intro p {
    font-size: 1.5rem;
    margin-bottom: 4rem; }
  #intro a {
    color: rgba(5, 30, 58, 0.8);
    font-size: 1.65rem;
    text-decoration: none;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms; }
    #intro a:hover {
      color: #0221a6; }

.main {
  width: 85%;
  margin: 0 auto; }
  .main #personaBox {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 6fr;
    grid-template-columns: 5fr 6fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background: #fff;
    border-radius: 0.75rem;
    margin-bottom: 12rem; }
  .main #info {
    padding: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem; }
    .main #info i {
      color: #feb15e;
      margin-right: 0.5rem; }
    .main #info .box {
      background: #ebf0ff;
      padding: 1.5rem;
      border-radius: 0.5rem; }
  .main #personaImage {
    background: url("../img/personaImage.jpg") center center no-repeat;
    background-size: cover;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    padding: 2rem;
    display: -ms-grid;
    display: grid;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem; }
    .main #personaImage #quote {
      background: rgba(5, 30, 58, 0.8);
      border-radius: 0.5rem;
      -ms-flex-item-align: end;
      align-self: flex-end;
      color: #fff;
      padding: 1.5rem 1rem;
      text-align: center;
      font-family: 'Applied Sans W05 Regular', Helvetica, sans-serif;
      font-size: 1.3rem; }
      .main #personaImage #quote i {
        font-size: 1rem;
        margin: 0 0.25rem; }
  .main #personaExplanation {
    background: rgba(5, 30, 58, 0.9);
    padding: 2rem;
    color: white;
    border-bottom-right-radius: 1rem; }
    .main #personaExplanation p {
      color: white; }

.post {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10rem; }
  .post p {
    margin-top: 2rem; }

hr {
  border: solid 2px #d6e2ff;
  width: 90%;
  margin: 0 auto 10rem; }

footer {
  margin: 20rem 0 3rem;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5); }
